<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="./css/login.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
					<form method="POST" action="/api/login">
						<label for="chk" aria-hidden="true">Login</label>
						<input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
						<input type="login" name="login" placeholder="Login" required="">
						<input type="password" name="password" placeholder="Password" required="">
						<button>Login</button>
					</form>
				</form>
			</div>

			<div class="login">
				<form action="/api/login" method="POST" align="center">
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="password" placeholder="Password" required="">
					<button>Sign up</button>
			</div>
	</div>
</body>
</html>