<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8" >
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
      <link rel="stylesheet" href="./css/main.css">
<!--  <link rel="stylesheet"  th:href="@{/css/main.css}" />-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
  <div class="header-top">
    <nav class="header-nav">
      <ul class="header-nav-list" >
        <li class="header-nav-list-el"><a href="#">Главная</a></li>
        <li class="header-nav-list-el"><a href="#">Услуги</a></li>
        <li class="header-nav-list-el"><a href="#">Цены</a></li>
        <li class="header-nav-list-el"><a href="#">Акции</a></li>
        <li class="header-nav-list-el"><a href="#">Контакты</a></li>
      </ul>
      <div class="line"></div>
    </nav>

    <div class="header-info">
      <div class="info-oline-row">
        <div class="info-mail">
          <p>geodezist13@bk.rabitmq</p>
        </div>
        <div class="social-network">
          <div class="social-network-img">
            <img class="social-network-whatsapp" th:src="@{/img/icons-header/whatsapp.svg}" src="" alt="whatsapp">
            <img class="social-network-viber" th:src="@{/img/icons-header/viber.svg}" alt="viber">
          </div>
          <p>Пишите нам,<br>мы онлайн!</p>
        </div>
      </div>

      <div class="info-ofline">
        <ul class="info-ofline-list">
          <li class="ofline-list-number-tel" >+7 987 342-37-77</li>
          <li class="ofline-list-number-tel" >+7 917 458-56-14</li>
        </ul>
        <p class="info-ofline-time">пн-пт, 08:00-17:00</p>
      </div>
    </div>
  </div>
</header>

<main class="main">
  <div class="container">
    <div class="container-row">
      <div class="main-services">
        <h1 class="main-services-title">Услуги<br>кадастрового инженера<br>в Мордовии</h1>
        <ul class="main-services-list">
          <li class="main-services-list-el">Межевание</li>
          <li class="main-services-list-el">Технический план</li>
          <li class="main-services-list-el">Акт обследования</li>
          <li class="main-services-list-el">Восстановление границ участка</li>
          <li class="main-services-list-el">Схема расположения земельного участка</li>
        </ul>
      </div>

<!--      <form class="main-form" th:method="POST" th:action="@{/}" th:object="${client}">-->
<!--        <div class="form-title-wrapper">-->
<!--          <h2 class="main-form-title">Оставьте заявку</h2>-->
<!--        </div>-->
<!--        <input class="input" type="text" th:field="*{name}" placeholder="Ваше имя *">-->
<!--        <div style="color: crimson" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" >Name Error</div>-->
<!--        <input class="input" type="tel" th:field="*{phone}" placeholder="Ваш телефон *">-->
<!--        <div style="color: crimson" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" >Phone Error</div>-->
<!--        <input class="button-bell" type="submit" value="Заказать звонок">-->
<!--      </form>-->

                      <form class="main-form">
                          <div class="form-title-wrapper">
                              <div class="shadow"></div>
                              <h2 class="main-form-title">Оставьте заявку</h2>
                          </div>
                          <input class="input" type="text" placeholder="Ваше имя *" required>
                          <input class="input" type="tel" placeholder="Ваш телефон *" required>
                          <input class="button-bell" type="submit" value="Заказать звонок">
                      </form>

      </form>
    </div>
  </div>
</main>

<footer class="footer">
  <div class="container">
    <div class="footer-row">
      <div class="footer-info">
        <h3 class="footer-info-title">Качество</h3>
        <p>
          Надежность, качество и профессионализм - это наши главные принципы.Мы всегда готовы выслушать потребности наших клиентов и предложить наилучшие решения для них.
        </p>
      </div>

      <div class="footer-form">
        <h3 class="footer-form-title">Почему мы?</h3>
        <p>текст на 3 колонки</p>
      </div>
    </div>
  </div>

</footer>

</body>
</html>