<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!--    <link rel="stylesheet" href="../../static/css/main.css">-->
    <link rel="stylesheet"  th:href="@{/css/main.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600;700;900&display=swap" rel="stylesheet">
<!--    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">-->
<!--    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>-->
<!--    <link th:href="@{https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,800;1,900&display=swap}" rel="stylesheet">-->
<!--    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">-->
<!--    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>-->
<!--    <link th:href="@{https://fonts.googleapis.com/css2?family=Inter:wght@600;700;900&display=swap}" rel="stylesheet">-->
    

    <!-- OwlCarousel -->
    <link rel="stylesheet" href="../../static/libs/owlCarousel/assets/owl.carousel.min.css">

</head>
<body>

    <header class="header">
        <div class="header-top">
            <div class="header-logo">
                <a href="1index.html">
                    <img class="img-logo" th:src="@{/img/header/logo.png}" alt="Логотип">
                </a>
            </div>
            <nav class="header-nav">
                <ul class="header-nav-list" >
                    <li class="header-nav-list-el"><a href="#">Главная</a></li>
                    <li class="header-nav-list-el"><a href="#">Услуги</a></li>
                    <li class="header-nav-list-el"><a href="#">Цены</a></li>
                    <li class="header-nav-list-el"><a href="#">Контакты</a></li>
                </ul>
                <div class="line"></div>
            </nav>

            <div class="header-info">
                <div class="info-oline-row">
                    <div class="info-mail">
                        <p>geodezist13@bk.ru</p>
                    </div>
                    <div class="social-network">
                        <div class="social-network-img">
                            <img class="social-network-whatsapp" th:src="@{/img/icons-header/whatsapp.svg}" alt="whatsapp">
                            <img class="social-network-viber" th:src="@{/img/icons-header/viber.svg}" alt="viber">
<!--                            <img class="social-network-whatsapp" src="../../static/img/icons-header/whatsapp.svg" alt="whatsapp">-->
<!--                            <img class="social-network-viber" src="../../static/img/icons-header/viber.svg" alt="viber">-->
                        </div>
                            <p>Пишите нам,<br>мы онлайн!</p>
                    </div>
                </div>

                <div class="info-ofline">
                    <ul class="info-ofline-list">
                        <li class="ofline-list-number-tel" >+7 987 342-37-77</li>
                        <li class="ofline-list-number-tel" >+7 917 458-56-14</li>
                    </ul>
                    <p class="info-ofline-time">пн-пт, 08:00-17:00</p>
                </div>
            </div>
        </div>
    </header>

    <section class="main">
        <div class="container">
            <div class="container-row">
                <div class="main-services">
                    <h1 class="main-services-title">Услуги<br>кадастрового инженера<br>в Мордовии</h1>
                    <ul class="main-services-list">
                        <li class="main-services-list-el">Межевание</li>
                        <li class="main-services-list-el">Технический план</li>
                        <li class="main-services-list-el">Акт обследования</li>
                        <li class="main-services-list-el">Восстановление границ участка</li>
                        <li class="main-services-list-el">Схема расположения земельного участка</li>
                    </ul>
                </div>

                <form class="main-form">
                    <div class="form-title-wrapper">
                        <h2 class="main-form-title">Оставьте заявку</h2>
                    </div>
                    <div class="form-group-name">
                        <label class="label" for="name">Ваше имя *</label>
                        <input class="input" type="text" name="name">
                    </div>
                    <div class="form-group-phone">
                        <label class="label" for="phone">Ваш телефон *</label>
                        <input class="input" type="text" name="phone">
                    </div>
                    <div class="button-wrapper">
                        <input class="button-bell" type="submit" value="Заказать звонок"> 
                    </div>
                </form>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <div class="footer-info">
                    <h3 class="footer-info-title">Качество</h3>
                    <p>
                        Надежность, качество и профессионализм - это наши главные принципы. Мы всегда готовы выслушать потребности наших клиентов и предложить наилучшие решения для них.
                    </p> 
                </div>

                <div class="footer-form">
                    <h3 class="footer-form-title">Почему мы?</h3>
                    <p>текст на 3 колонки</p>
                </div>
            </div>
        </div>

    </footer>

    <section class="section-services">
        <header class="section-services__header">
            <div class="services__header-content">
                <h2 class="services__header-title">Наши услуги</h2>

                <img class="services__header-img" th:src="@{/img/section-services/services-header/act.svg}" alt="">
                <img class="services__header-img" th:src="@{/img/section-services/services-header/borders.svg}" alt="">
                <img class="services__header-img" th:src="@{/img/section-services/services-header/plan.svg}" alt="">
                <img class="services__header-img" th:src="@{/img/section-services/services-header/sheme.svg}" alt="">
                <img class="services__header-img" th:src="@{/img/section-services/services-header/takeaway.svg}" alt="">
                <img class="services__header-img" th:src="@{/img/section-services/services-header/call.svg}" alt="">
<!--                <img class="services__header-img" src="../../static/img/section-services/services-header/act.svg" alt="">-->
<!--                <img class="services__header-img" src="../../static/img/section-services/services-header/borders.svg" alt="">-->
<!--                <img class="services__header-img" src="../../static/img/section-services/services-header/plan.svg" alt="">-->
<!--                <img class="services__header-img" src="../../static/img/section-services/services-header/sheme.svg" alt="">-->
<!--                <img class="services__header-img" src="../../static/img/section-services/services-header/takeaway.svg" alt="">-->
<!--                <img class="services__header-img" src="../../static/img/section-services/services-header/call.svg" alt="">-->
            </div>

        </header>
        <!-- Слайдер -->
        <div class="section-services__slider">
            <!-- Вперед, назад кнопки -->
            <button class="slider-services__arrow slider-services__arrow--left">
                <img class="slider__arrow-img-left" th:src="@{/img/section-services/services-icons/arrow-left.svg}" alt="left">
<!--                <img class="slider__arrow-img-left" src="../../static/img/section-services/services-icons/arrow-left.svg" alt="left">-->
            </button>
            <button class="slider-services__arrow slider-services__arrow--right">
                <img class="slider__arrow-img-right" th:src="@{/img/section-services/services-icons/arrow-right.svg}" alt="right">
<!--                <img class="slider__arrow-img-right" src="../../static/img/section-services/services-icons/arrow-right.svg" alt="right">-->
            </button>
            <!-- // Вперед, назад кнопки -->
            <div class="slider owl-carousel owl-theme">
                <!-- Слайды -->
                <div class="slider-item">
                    <div class="slider-item__card-img slider-item__card-img--borders">
                        <img th:src="@{/img/section-services/services-slider/borders-img.png}" alt="Межевание">
<!--                        <img src="../../static/img/section-services/services-slider/borders-img.png" alt="Межевание">-->
                    </div>
                    <div class="slider-item__card-content">
                        <div class="slider-item__card-row">
                            <img class="icon icon--borders" th:src="@{/img/section-services/services-icons/borders-icon.svg}" alt="Межевание">
                            <h2 class="slider-item__card-row-title slider-item__card-row-title--borders">Межевание</h2>
                        </div>
                        <p class="slider-item__card-row-text slider-item__card-row-text--borders">Установление границ земельного участка. От 2х рабочих дней.</p>
                    </div>
                </div>
                
                <div class="slider-item">
                    <div class="slider-item__card-img slider-item__card-img--plan">
                        <img th:src="@{/img/section-services/services-slider/plan.png}" alt="Технический план">
                    </div>
                    <div class="slider-item__card-content">
                        <div class="slider-item__card-row">
                            <img class="icon icon--plan" th:src="@{/img/section-services/services-icons/plan-icon.svg}" alt="Технический план">
                            <h2 class="slider-item__card-row-title slider-item__card-row-title--plan">Технический план</h2>
                        </div>
                        <p class="slider-item__card-row-text slider-item__card-row-text--plan">Документ составляется в отношении зданий, объектов строительства.</p>
                    </div>
                </div>
                <div class="slider-item">
                    <div class="slider-item__card-img slider-item__card-img--sheme">
                        <img th:src="@{/img/section-services/services-slider/sheme.png}" alt="Схемы расположения земельного участка">
                    </div>
                    <div class="slider-item__card-content">
                        <div class="slider-item__card-row">
                            <img class="icon icon--sheme"th:src="@{/img/section-services/services-icons/scheme-icon.svg}" alt="Схемы земельного участка">
                            <h2 class="slider-item__card-row-title slider-item__card-row-title--sheme">Схемы расположения земельного участка</h2>
                        </div>
                        <p class="slider-item__card-row-text slider-item__card-row-text--sheme">Подготовка схемы осуществляется с учетом утвержденных документов.</p>
                    </div>
                </div>
                <div class="slider-item">
                    <div class="slider-item__card-img slider-item__card-img--takeaway">
                        <img th:src="@{/img/section-services/services-slider/takeaway.png}" alt="Вынос границ">
                    </div>
                    <div class="slider-item__card-content">
                        <div class="slider-item__card-row">
                            <img class="icon icon--takeaway" th:src="@{/img/section-services/services-icons/takeaway-icon.svg}" alt="Вынос границ">
                            <h2 class="slider-item__card-row-title slider-item__card-row-title--takeaway">Вынос границ</h2>
                        </div>
                        <p class="slider-item__card-row-text slider-item__card-row-text--takeaway">Определение и закрепление на местности поворотных точек участка.</p>
                    </div>
                </div>  
                <div class="slider-item">
                    <div class="slider-item__card-img slider-item__card-img--planet">
                        <img th:src="@{/img/section-services/services-slider/planet.png}" alt="Не нашли нужное?">
                    </div>
                    <div class="slider-item__card-content">
                        <div class="slider-item__card-row">
                            <img class="icon icon--phone" th:src="@{/img/section-services/services-icons/phone-icon.svg}" alt="Не нашли нужное?">
                            <h2 class="slider-item__card-row-title slider-item__card-row-title--planet">Не нашли нужное? Позвоните нам!</h2>
                        </div>
                    </div>
                </div>
                <div class="slider-item">
                    <div class="slider-item__card-img slider-item__card-img--akt">
                        <img th:src="@{/img/section-services/services-slider/akt.png}" alt="Акт обследования">
                    </div>
                    <div class="slider-item__card-content">
                        <div class="slider-item__card-row">
                            <img class="icon icon--akt" th:src="@{/img/section-services/services-icons/act-icon.svg}" alt="Акт обследования">
                            <h2 class="slider-item__card-row-title slider-item__card-row-title--akt">Акт обследования</h2>
                        </div>
                        <p class="slider-item__card-row-text slider-item__card-row-text--akt">Документ является заключением о состоянии данного объекта на момент обследования</p>
                    </div>
                </div>
                <!-- // Слайды -->
            </div>
        </div>
        <!-- //Слайдер -->

    </section>

    <section class="section-table ">
        <img class="section-table-img" th:src="@{/img/section-table/semka.png}" alt="Исполнительная съемка">
        
        <div class="section-table-wrapper">
            <div class="section-table__title-wrapper">
                <h2 class="section-table__title">Краткий прайс лист</h2>
            </div>
            <table class="section-table__table">
                <tbody>
                    <tr class="table-title">
                        <th>Вид работ</th>
                        <th>Срок выполнения</th>
                        <th>Стоимость (руб)</th>
                    </tr>
                    <!-- //Титульный ряд -->
                    <tr class="table__text">
                        <th class="table__text-works">Межевание земельного участка</th>
                        <td>От 2 дней</td>
                        <td>От 1111 р</td>
                    </tr>
                    <!-- //1 ряд -->
                    <tr class="table__text">
                        <th class="table__text-works">Технический план</th>
                        <td>От 2 дней</td>
                        <td>От 1111 р</td>
                    </tr>
                    <!-- //2 ряд -->
                    <tr class="table__text">
                        <th class="table__text-works">Акт обследования</th>
                        <td>От 2 дней</td>
                        <td>От 1111 р</td>
                    </tr>
                    <!-- //3 ряд -->
                    <tr class="table__text">
                        <th class="table__text-works">Схема расположения</th>
                        <td>От 2 дней</td>
                        <td>От 1111 р</td>
                    </tr>
                    <!-- //4 ряд -->
                    <tr class="table__text">
                        <th class="table__text-works">Вынос границ в натуру</th>
                        <td></td>
                        <td>От 1111 р</td>
                    </tr>
                    <!-- //5 ряд -->
                </tbody>
            </table>
        </div>
    </section>   

    <section class="section-questions">
        <div class="section-questions__row">
            <div class="section-questions__content">
                <div class="section-questions__content-wrapper">
                    <div class="section-questions__content-text">
                        <h2>Остались вопросы?</h2>
                        <p>Ответим по телефону 8 (987) 874 99 45</p>
                        <h3>или мы перезвоним Вам</h3>
                    </div>
                    <div class="section-questions__content-input">
                        <div class="input-row">
                            <input class="questions__input questions__input--name" type="text" placeholder="Введите Ваше имя">
                            <input class="questions__input questions__input--phone" type="text"  placeholder="Введите Ваш номер телефона">
                        </div>
                        <div class="questions-button-wrapper">
                            <input class="questions-button" type="submit" value="Заказать звонок"> 
                        </div>
                    </div>
                </div>
                <div class="section-questions__img">
                    <img th:src="@{/img/section-questions/macbook.png}" alt="macbook">
                </div>
            </div>
        </div>

    </section>

    <section class="sections__contacts">
        <div class="sections__contacts-contanier">
            <div class="sections__contacts-contanier-wrapper">
                <h2 class="sections__contacts-contanier-title">Контакты</h2>
                <div class="sections__contacts-contanier-list">
                    <ul>
                        <li class="contact-list-el phone">Телефоны: +7 987 342-37-77</li>
                        <li class="contact-list-el time">Режим работы: пн-пт, 08:00-17:00</li>
                        <li class="contact-list-el mail">E-mail: geodezist13@bk.ru</li>
                    </ul>
                </div>
            </div>
        </div>

    </section>
    
    <!-- Скрипты карусели -->
    <script th:src="@{/libs/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/libs/owlCarousel/owl.carousel.min.js}"></script>
    <script th:src="@{/js/carousel.js}"></script>
    
</body>
</html>