<!DOCTYPE html>
<!--Возможно нужно ссылку на таймлиф использовать без www-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Panel</title>
    <meta charset="UTF-8">
    <!-- <meta name="csrf-parameter" data-th-content="${_csrf.parameterName}">
	<meta name="csrf-header" data-th-content="${_csrf.headerName}">
	<meta name="csrf-token" data-th-content="${_csrf.token}"> -->
</head>
<body>
    Ура!
    <!-- <div th:each="client : ${clients}">
        <td th:text="${client.getId()}"> id </td>
        <td th:text="${client.getName()}">name </td>
        <td th:text="${client.getCreatedData}">createData </td>
        <td th:text="${client.getPhone()}">phone </td>
        <hr/>
    </div> -->

</body>

<script>
    // const headers = {};
	// 			headers[document.querySelector("meta[name='csrf-header']").content] = document.querySelector("meta[name='csrf-token']").content;
	// 			headers['Content-Type'] = 'application/json';

    // let responseClients = fetch("/api/getClients", {
    //     method: "get",
    //     headers: headers
    // });

    // document.write(JSON.parse(responseClients));
</script>

</html>