*,
*::before,
*::after {
  border: 0;
  box-sizing: border-box; }


html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF; 
}

input, textarea, button {
  padding: 0; }

label {
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

:focus,
:active {
  outline: none; }

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.none {
  display: none !important; }

input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease; }

input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease; }

input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease; }

input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease; }

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease; }

input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease; }

input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease; }

input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease; }

.header-scrooll {
  height: 116px;
  background-color: #2F2E33;
  border-block: 1px solid #9D9D9D;
  /* visibility: hidden; */
  /* will-change: transform; */

  display: none;
  justify-content: space-between;
  align-items: center;
  /* padding: 15px 30px; */
  /* position: -webkit-sticky; */
  position: fixed;
  
  top: 0;
  transition: 0.7s;
  z-index: 98;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .header-scrooll {
      height: 168px; } }
  @media (max-width: 766px) {
    .header-scrooll {
      height: 101px; } 
}

.header-scrooll_hidden {
  transform: translateY(-100%);
}

.header {
  height: 116px;
  background-color: #2F2E33;
  border-block: 1px solid #9D9D9D;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 98;
  transition: 0.5s;

  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .header {
      height: 168px; } }
  @media (max-width: 766px) {
    .header {
      height: 101px; } }

.header-top {
  margin: 0 auto;
  width: 1170px;
  display: flex;
  align-items: center;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .header-top {
      width: 767px;
      justify-content: space-between; } }
  @media (max-width: 766px) {
    .header-top {
      width: 100%; } }

.header-logo {
  margin-right: 53px;
  width: 147px;
  height: 86px;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .header-logo {
      margin-left: 50px;
      margin-right: 0;
      margin-top: 40px; } }
  @media (max-width: 766px) {
    .header-logo {
      margin-top: 13px;
      margin-left: 15px; } }

.header_hidden {
  transform: translateY(-100%);
}

.img-logo {
  max-width: none;
  transition: 0.5s;
}

.img-logo:hover {
  transform: scale(1.1);
}

.block {
  display: flex;
  align-items: center; }

.header-nav {
  display: flex;
  align-items: center;
  /* Tablet */ }

/* Tablet */
@media (max-width: 1199px) {
  .block {
    left: 50%;
    top: -601px;
    transform: translateX(-50%);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    z-index: 5;
    width: 90%;
    height: 601px;
    border-radius: 0px 0px 30px 30px;
    background: #000;
    transition: 0.3s linear; }

  .block.block--active {
    top: 0; }

  .header-info {
    justify-content: center; } }
/* Mobile XS */
@media (max-width: 766px) {
  .block {
    top: -452px;
    height: 452px; } }
.header-nav-list {
  display: flex;
  position: relative; }
  @media (max-width: 1199px) {
    .header-nav-list {
      margin-top: 63px;
      flex-direction: column;
      text-align: center; } }
  @media (max-width: 766px) {
    .header-nav-list {
      margin-top: 38px;
      margin-bottom: 22px; } }

.header-nav-list-el {
  transition: 0.2s;
  margin-right: 46px;
  font-weight: 600;
  font-size: 20px;
  color: #D0D0D0;
  cursor: pointer;
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .header-nav-list-el {
      margin-right: 0;
      margin-bottom: 48px;
      font-size: 35px; } }
  @media (max-width: 766px) {
    .header-nav-list-el {
      margin-bottom: 23px;
      font-size: 22px; } }

.header-nav-list-el:hover {
  color: #ffe600;
  transform: scale(1.1);
}

.line {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 30px;
  width: 0;
  height: 66px;
  border: 1.6px solid #F5D068;
  /* Tablet */ }
  @media (max-width: 1199px) {
    .line {
      display: none; } }

.header-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .header-info {
      flex-direction: column; } }

.info-online-row {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .info-online-row {
      flex-direction: column-reverse; } }

.info-mail {
  margin-right: 35px;
  margin-bottom: 20px;
  padding-left: 34px;
  position: relative;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;

  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .info-mail {
      padding-left: 55px;
      margin-bottom: 45px;
      font-size: 26px; } }
  @media (max-width: 766px) {
    .info-mail {
      margin-left: 30px;
      padding-left: 40px;
      margin-bottom: 8px;
      font-size: 17px; } }
.info-mail p {
  transition: 0.3s;
}

.info-mail p:hover {
  color: #ffe600;
  transform: scale(1.01);
}

.info-mail::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 19px;
  top: 0;
  left: 0;
  position: absolute;
  background-size: cover;
  background-image: url("../img/icons-header/email.svg");
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .info-mail::before {
      width: 43px;
      height: 31px; } }
  @media (max-width: 766px) {
    .info-mail::before {
      width: 27px;
      height: 19px; } }

.info-ofline {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .info-ofline {
      flex-direction: column-reverse; } }

.social-network {
  margin-right: 46px;
  display: flex;
  font-weight: 500;
  color: #D0D0D0;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .social-network {
      align-items: center; } }
  @media (max-width: 766px) {
    .social-network {
      margin-right: 0; } }

.social-network-img {
  display: flex;
  align-items: end; }

.social-network-viber {
  margin-right: 10px;
  width: 35px;
  height: 33px;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .social-network-viber {
      width: 63px;
      height: 60px; } }
  @media (max-width: 766px) {
    .social-network-viber {
      width: 30px;
      height: 29px; } }

.social-network-whatsapp {
  margin-right: 8px;
  width: 31px;
  height: 31px;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .social-network-whatsapp {
      width: 56px;
      height: 56px; } }
  @media (max-width: 766px) {
    .social-network-whatsapp {
      width: 27px;
      height: 27px; } }

.social-network p {
  font-weight: 500;
  font-size: 15px;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .social-network p {
      font-size: 20px; } }
  @media (max-width: 766px) {
    .social-network p {
      font-size: 13px; } }

.info-ofline-list {
  margin-top: -4px;
  margin-bottom: 16px;
  padding-left: 27px;
  position: relative;
  font-style: italic;
  font-weight: 900;
  font-size: 18px;
  color: #FFFFFF;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .info-ofline-list {
      padding-left: 50px;
      font-size: 28px; } }
  .info-ofline-list li {
    /* Tablet */
    /* Mobile XS */ }
    @media (max-width: 1199px) {
      .info-ofline-list li {
        margin-bottom: 10px; } }
    @media (max-width: 766px) {
      .info-ofline-list li {
        margin-bottom: 6px; } }
  @media (max-width: 766px) {
    .info-ofline-list {
      padding-left: 30px;
      font-size: 18px; } }

.info-ofline-list li{
  transition: 0.1s;
}

.info-ofline-list li:hover{
  color: #ffe600;
  transform: scale(1.01);
}
  
.info-ofline-list::before {
  content: "";
  width: 22px;
  height: 22px;
  display: inline-block;
  top: 0;
  left: 0;
  position: absolute;
  background-size: cover;
  background-image: url(".././img/icons-header/telephone.svg");
  margin-top: 10px;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .info-ofline-list::before {
      width: 45px;
      height: 45px; } }
  @media (max-width: 766px) {
    .info-ofline-list::before {
      width: 25px;
      height: 25px; } }

.info-ofline-time {
  padding-left: 28px;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  color: #D0D0D0;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .info-ofline-time {
      margin-left: 30px;
      padding-left: 50px;
      font-size: 25px; } }
  @media (max-width: 766px) {
    .info-ofline-time {
      margin-bottom: 23px;
      margin-left: 0;
      padding-left: 30px;
      font-size: 18px; } }

.info-ofline-time::before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  top: 0;
  left: 0;
  position: absolute;
  background-size: cover;
  background-image: url("../img/icons-header/time-icon.svg");
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .info-ofline-time::before {
      width: 34px;
      height: 34px; } }
  @media (max-width: 766px) {
    .info-ofline-time::before {
      width: 19px;
      height: 19px; } }

.nav-icon-wrapper {
  cursor: pointer;
  display: none;
  /* Tablet */ }
  @media (max-width: 1199px) {
    .nav-icon-wrapper {
      display: block; } }

.nav-icon {
  top: 50px;
  right: 80px;
  position: absolute;
  width: 67px;
  height: 67px;
  background-image: url("../img/header/icon-hamburger.svg");
  z-index: 5;
  transition: 0.3s ease-in;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .nav-icon {
      top: 26px;
      right: 36px;
      width: 49px;
      height: 49px;
      background-image: url("../img/header/icon-hamburger-xs.svg"); } }

/* Active state */
.nav-icon--active {
  position: fixed;
  transform: rotate(90deg);
  transition: 0.3s ease-in; }

.main {
  background-size: cover;
  background-position: center;
  background-image: url("../img/main/bg-image.jpg");
  border-block: 1px solid #9D9D9D; 

    /* TODO */
  padding-top: 116px;
  @media (max-width: 1199px) {
    .main {
      padding-top: 168px; 
    } 
  }
  @media (max-width: 766px) {
    .main {
      padding-top: 101px; 
    } 
  }
}

.container-row {
  display: flex;
  justify-content: space-between;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .container-row {
      flex-direction: column;
      align-items: center; } }
  @media (max-width: 766px) {
    .container-row {
      margin-top: 50px;
      align-items: start; } }

.main-services {
  padding-top: 148px;
  padding-bottom: 227px;
  width: 571px;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .main-services {
      margin-top: 65px;
      padding: 0; } }
  @media (max-width: 766px) {
    .main-services {
      margin-top: 50px;
      width: 300px; } }

.main-services-title {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 39px;
  color: #FFFFFF;
  transition: 0.3s;
  /* font-size: 35px; */
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .main-services-title {
      font-size: 22px;
      line-height: auto; 
    } }
  
  .main-services-title:hover {
    transform: scale(1.05);
  }

.main-services-list-el {
  padding-left: 30px;
  margin-bottom: 15px;
  position: relative;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .main-services-list-el {
      font-size: 18px;
      width: 270px; } }

.main-services-list-el  {
  transition: 0.3s;
}

.main-services-list-el:hover {
  
  transform: scale(1.05);
}

.main-services-list-el:last-child {
  margin-bottom: 0; }

.main-services-list-el::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url("../img/main/tick.svg"); }

/* Main form */
.main-form {
  margin-top: 127px;
  margin-bottom: 185px;
  width: 544px;
  height: 429px;
  background: radial-gradient(100% 124.1% at 0% 0%, rgba(187, 182, 182, 0.23) 0%, rgba(57, 43, 40, 0.31) 100%);
  border-radius: 32px;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .main-form {
      margin-top: 41px;
      margin-bottom: 202px; } }
  @media (max-width: 766px) {
    .main-form {
      width: 279px;
      height: 220px;
      margin-top: 46px;
      margin-bottom: 127px; } }

.form-title-wrapper {
  margin-top: 70px;
  margin-bottom: 37px;
  text-align: center;
  border-radius: 15px;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .form-title-wrapper {
      margin-top: 30px;
      margin-bottom: 20px; } }

.main-form-title {
  font-weight: 900;
  font-size: 35px;
  color: #FFFFFF;
  transition: 0.3s;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .main-form-title {
      font-size: 22px; } }

.main-form {
  transition: 0.5s;
}
  .main-form:hover {
    transform: scale(1.02);
  }
  
.form-group-name {
  margin-bottom: 24px;
  padding-left: 62px;
  display: flex;
  flex-direction: column;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .form-group-name {
      margin-bottom: 12px;
      padding-left: 31px; } }

.form-group-phone {
  padding-left: 62px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .form-group-phone {
      margin-bottom: 12px;
      padding-left: 31px; } }

.label {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 17px;
  color: rgba(245, 208, 104, 0.8);
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .label {
      margin-bottom: 5px;
      font-size: 8px; } }

.input {
  width: 418px;
  font-weight: 800;
  font-size: 20px;
  color: #FFFFFF;
  background: none;
  border-bottom: 2px solid #F5D068;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .input {
      width: 214px;
      font-size: 11px; } }

.button-wrapper {
  width: 480px;
  display: flex;
  justify-content: flex-end;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .button-wrapper {
      width: 245px; } }

.button-bell {
  padding-left: 30px;
  width: 234px;
  height: 52px;
  background: none;
  border: 1px solid #F5D068;
  border-radius: 0px;
  cursor: pointer;
  font-weight: 800;
  font-size: 18px;
  color: #F5D068;
  background-image: url("../img/main/telegramm-icons.svg");
  background-repeat: no-repeat;
  background-position: 17px 15px;
  transition: 0.3s;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .button-bell {
      padding-left: 15px;
      width: 120px;
      height: 27px;
      font-size: 9px;
      background-image: url("../img/main/telegramm-icon-xs.svg");
      background-position: 6px 6px; } }

.button-bell:hover { 
  border: 1px solid #ffe600;
  color: #ffd45f;
  transform: scale(1.05);
}

.footer {
  padding-top: 45px;
  height: 236px;
  background: #2F2E33;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .footer {
      height: 229px; } }
  @media (max-width: 766px) {
    .footer {
      padding-top: 25px;
      padding-bottom: 25px;
      height: 165px; } }

.footer-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative; }

.footer-row::before {
  content: "";
  display: block;
  height: 1px;
  width: 928px;
  background: #9D9D9D;
  position: absolute;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .footer-row::before {
      width: 727px; } }
  @media (max-width: 766px) {
    .footer-row::before {
      width: 300px; } }

.footer-row::after {
  content: "";
  display: block;
  height: 1px;
  width: 928px;
  background: #9D9D9D;
  bottom: 0;
  position: absolute;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .footer-row::after {
      width: 727px; } }
  @media (max-width: 766px) {
    .footer-row::after {
      width: 300px; } }

.footer-info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  position: relative;
  width: 740px;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .footer-info {
      padding-top: 15px;
      padding-bottom: 24px;
      padding-left: 75px; } }

.footer-info::before {
  content: "";
  width: 74px;
  height: 74px;
  position: absolute;
  top: 25%;
  left: 0;
  background-image: url(".././img/footer/footer-icon.svg");
  background-size: cover;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .footer-info::before {
      width: 65px;
      height: 63px; } }

.footer-info-title {
  margin-bottom: 8px;
  font-style: italic;
  font-weight: 800;
  font-size: 28px;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .footer-info-title {
      font-size: 19px; } }

.footer-info p {
  width: 635px;
  font-weight: 500;
  font-size: 16px;
  color: #D0C6C6;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .footer-info p {
      width: 230px;
      font-size: 9px; } }

.footer-form {
  z-index: 2;
  width: 351px;
  height: 142px;
  text-align: center;
  background: #D9D9D9;
  border-radius: 15px;
  /* Tablet */ }
  @media (max-width: 1199px) {
    .footer-form {
      display: none; } }

.footer-form-title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-style: italic;
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
  color: #2F2E33; }

.footer-form p {
  font-weight: 500;
  font-size: 16px;
  color: #000000; }

.section-services {
  padding-top: 23px;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .section-services {
      padding-top: 14px; } }

.section-services__header {
  margin-bottom: 23px;
  width: 100%;
  height: 123px;
  background: #E1E1E1;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .section-services__header {
      height: 164px; } }
  @media (max-width: 766px) {
    .section-services__header {
      height: 98px; } }

.services__header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Tablet */ }
  @media (max-width: 1199px) {
    .services__header-content {
      flex-direction: column; } }

.services__header-content-row {
  padding-top: 15px;
  display: flex;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .services__header-content-row {
      display: flex;
      padding-left: 30px;
      padding-right: 30px; } }
  @media (max-width: 766px) {
    .services__header-content-row {
      padding-left: 7px;
      padding-right: 7px; } }

.services__header-title {
  margin-bottom: 10px;
  margin-right: 46px;
  font-style: italic;
  font-weight: 800;
  font-size: 42px;
  color: #2F2E33;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .services__header-title {
      margin-right: 0; } }
  @media (max-width: 766px) {
    .services__header-title {
      font-size: 28px; } }

.services__header-img {
  margin-right: 46px;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .services__header-img {
      margin-right: 40px;
      width: 78px;
      height: 78px; }
      .services__header-img--plan {
        width: 158px; } }
  @media (max-width: 766px) {
    .services__header-img {
      margin-right: 18px;
      width: 34px;
      height: 34px; }
      .services__header-img--plan {
        width: 58px; } }

.services__header-img:last-child {
  margin-right: 0;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .services__header-img:last-child {
      margin-left: -6px; } }

.section-services__slider {
  position: relative;
  overflow: hidden;
  font-family: "Inter", sans-serif; }

.slider-services__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: absolute;
  width: 84.04px;
  height: 84.04px;
  background: #595959;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .slider-services__arrow {
      width: 35px;
      height: 35px; } }
  .slider-services__arrow--left {
    top: 220px;
    left: 180px;
    transform: translate(100%);
    /* Tablet */
    /* Mobile XS */ }
    @media (max-width: 1199px) {
      .slider-services__arrow--left {
        left: -70px; } }
    @media (max-width: 766px) {
      .slider-services__arrow--left {
        top: 95px;
        left: 0; } }
    .slider-services__arrow--left svg {
      width: 30px;
      height: 55px;
      /* Mobile XS */ }
      @media (max-width: 766px) {
        .slider-services__arrow--left svg {
          width: 12px;
          height: 20px; } }
  .slider-services__arrow--right {
    top: 220px;
    right: 180px;
    transform: translateX(-100%);
    /* Tablet */
    /* Mobile XS */ }
    @media (max-width: 1199px) {
      .slider-services__arrow--right {
        right: -70px; } }
    @media (max-width: 766px) {
      .slider-services__arrow--right {
        top: 95px;
        right: 0; } }
    .slider-services__arrow--right svg {
      width: 30px;
      height: 55px;
      /* Mobile XS */ }
      @media (max-width: 766px) {
        .slider-services__arrow--right svg {
          width: 12px;
          height: 20px; } }

.arrow-icon {
  transition: 0.4s;
  fill: #F8F8F8; }

.arrow-icon:hover {
  fill: #37B1F5; }

.slider-item {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 670px;
  height: 523px;
  background: #1c1c1e;
  border-radius: 15px;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .slider-item {
      width: 270px;
      height: 212px;
      margin-left: 5px;
      margin-right: 5px; } }

.slider-item__card-img {
  margin-left: 25px;
  height: 350px;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .slider-item__card-img {
      width: 205px;
      height: 138px;
      margin: 0; } }
  .slider-item__card-img--borders {
    padding-top: 25px;
    max-width: 567px;
    /* Mobile XS */ }
    @media (max-width: 766px) {
      .slider-item__card-img--borders {
        margin-bottom: 10px;
        padding-top: 50px;
        width: 205px;
        height: 138px; } }
  .slider-item__card-img--plan {
    margin-bottom: 15px;
    padding-top: 20px;
    max-width: 558px;
    /* Mobile XS */ }
    @media (max-width: 766px) {
      .slider-item__card-img--plan {
        width: 205px;
        height: 138px;
        margin-bottom: 10px;
        padding-top: 35px; } }
  .slider-item__card-img--sheme {
    padding-top: 30px;
    max-width: 303px;
    /* Mobile XS */ }
    @media (max-width: 766px) {
      .slider-item__card-img--sheme {
        width: 122px;
        height: 128px;
        margin-bottom: 5px;
        margin-left: 10px; } }
  .slider-item__card-img--takeaway {
    margin-left: 10px;
    margin-bottom: 27px;
    padding-top: 30px;
    max-width: 591px;
    /* Mobile XS */ }
    @media (max-width: 766px) {
      .slider-item__card-img--takeaway {
        width: 205px;
        height: 138px;
        margin-bottom: 0;
        padding-top: 12px; } }
  .slider-item__card-img--planet {
    margin-bottom: 20px;
    max-width: 329px;
    /* Mobile XS */ }
    @media (max-width: 766px) {
      .slider-item__card-img--planet {
        width: 132px;
        height: 133px;
        margin-bottom: 10px;
        padding-top: 0; } }
  .slider-item__card-img--akt {
    margin-bottom: 20px;
    padding-top: 20px;
    max-width: 355px;
    /* Mobile XS */ }
    @media (max-width: 766px) {
      .slider-item__card-img--akt {
        width: 143px;
        height: 138px;
        padding-top: 10px;
        margin-bottom: 10px; } }

.slider-item__card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.slider-item__card-row {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 766px) {
    .slider-item__card-row {
      margin-bottom: 5px; } }

.icon--borders {
  margin-top: -5px;
  margin-right: 15px;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .icon--borders {
      width: 29px;
      height: 24px;
      margin-top: 27px;
      margin-right: 6px; } }
.icon--plan {
  margin-top: -30px;
  margin-right: 15px;
  width: 75px;
  height: 71px;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .icon--plan {
      width: 29px;
      height: 24px;
      margin-top: 13px;
      margin-right: 6px; } }
.icon--sheme {
  margin-top: -15px;
  width: 82px;
  height: 82px;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .icon--sheme {
      width: 33px;
      height: 33px;
      margin-top: 20px;
      margin-right: 4px; } }
.icon--takeaway {
  margin-top: -35px;
  margin-right: 15px;
  width: 78px;
  height: 77px;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .icon--takeaway {
      width: 31px;
      height: 31px;
      margin-top: -12px;
      margin-right: 10px; } }
.icon--phone {
  margin-top: -30px;
  width: 71px;
  height: 71px;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .icon--phone {
      width: 28px;
      height: 28px;
      margin-top: -15px;
      margin-right: 6px; } }
.icon--akt {
  margin-top: -30px;
  width: 66px;
  height: 70px;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .icon--akt {
      width: 25px;
      height: 28px;
      margin-top: -3px;
      margin-right: 6px; } }

.slider-item__card-row-title {
  font-weight: 900;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .slider-item__card-row-title {
      font-size: 16px;
      padding-top: 30px; } }
  .slider-item__card-row-title--borders {
    padding-top: 30px; }
  .slider-item__card-row-title--plan {
    flex: 0 0 50%;
    /* Mobile XS */ }
    @media (max-width: 766px) {
      .slider-item__card-row-title--plan {
        line-height: 16px; } }
  .slider-item__card-row-title--sheme {
    flex: 0 0 65%;
    font-size: 28px;
    /* Mobile XS */ }
    @media (max-width: 766px) {
      .slider-item__card-row-title--sheme {
        font-size: 15px;
        line-height: 16px; } }
  .slider-item__card-row-title--takeaway {
    /* Mobile XS */ }
    @media (max-width: 766px) {
      .slider-item__card-row-title--takeaway {
        padding-top: 0; } }
  .slider-item__card-row-title--akt {
    flex: 0 0 100%;
    /* Mobile XS */ }
    @media (max-width: 766px) {
      .slider-item__card-row-title--akt {
        margin-left: -10px;
        padding-top: 0; } }
  .slider-item__card-row-title--planet {
    flex: 0 0 65%;
    line-height: normal;
    /* Mobile XS */ }
    @media (max-width: 766px) {
      .slider-item__card-row-title--planet {
        padding-top: 0; } }

.slider-item__card-row-title.active {
  color: #37B1F5; }

.slider-item__card-row-text {
  width: 343px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-align: center;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .slider-item__card-row-text {
      width: 138px;
      font-size: 6px;
      line-height: normal; } }
  .slider-item__card-row-text--borders {
    margin-bottom: 50px; }
  .slider-item__card-row-text--plan {
    margin-bottom: 30px;
    /* Mobile XS */ }
    @media (max-width: 766px) {
      .slider-item__card-row-text--plan {
        margin-left: 40px; } }
  .slider-item__card-row-text--sheme {
    margin-bottom: 25px;
    /* Mobile XS */ }
    @media (max-width: 766px) {
      .slider-item__card-row-text--sheme {
        margin-left: 40px; } }
  .slider-item__card-row-text--takeaway {
    margin-bottom: 40px;
    /* Mobile XS */ }
    @media (max-width: 766px) {
      .slider-item__card-row-text--takeaway {
        margin-left: 40px;
        margin-bottom: 16px; } }
  .slider-item__card-row-text--akt {
    /* Mobile XS */ }
    @media (max-width: 766px) {
      .slider-item__card-row-text--akt {
        width: 152px;
        margin-left: 20px;
        margin-bottom: 15px; } }

.section-table {
  padding-top: 80px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .section-table {
      padding-top: 14px; } }

.section-table-img {
  position: absolute;
  top: 11px;
  left: -16%;
  z-index: 2;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .section-table-img {
      position: absolute;
      top: 78px;
      left: -12%;
      height: 437px; } }
  @media (max-width: 766px) {
    .section-table-img {
      top: 31px;
      left: -21%;
      height: 202px; } } 

.section-table__title-wrapper {
  display: flex;
  justify-content: center; }

.section-table__title {
  margin-left: 40px;
  margin-bottom: 36px;
  font-weight: 900;
  font-size: 42px;
  color: #000000;
  border-bottom: 2px solid #000000;
  width: 979px;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .section-table__title {
      padding-right: 75px;
      margin-left: 57px;
      width: 721px;
      text-align: center; } }
  @media (max-width: 766px) {
    .section-table__title {
      margin-left: 15px;
      margin-bottom: 15px;
      padding-right: 32px;
      width: 300px;
      font-size: 16px; } }

.section-table-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  /* Tablet */ }
  @media (max-width: 1199px) {
    .section-table-wrapper {
      align-items: flex-end; } }

.section-table__table {
  border-collapse: collapse;
  line-height: 1.1;
  color: #000000;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .section-table__table {
      width: 668px; } }
  @media (max-width: 766px) {
    .section-table__table {
      display: block;
      height: 200px;
      width: 287px; } }
  .section-table__table tbody {
    background: #e0e0e0; }
  .section-table__table th {
    padding: 10px;
    border: 1px solid #4f4f4f;
    /* Mobile XS */ }
    @media (max-width: 766px) {
      .section-table__table th {
        padding: 0; } }
  .section-table__table td {
    padding-top: 19px;
    padding-bottom: 19px;
    border: 1px solid #4f4f4f;
    /* Mobile XS */ }
    @media (max-width: 766px) {
      .section-table__table td {
        padding: 0; } }

.table-title {
  background: #2f2e33; }
  .table-title th {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #f5d068;
    /* Mobile XS */ }
    @media (max-width: 766px) {
      .table-title th {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 8px;
        line-height: normal; } }

.table-title__view {
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .table-title__view {
      width: 130px; } }

.table-title__time {
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .table-title__time {
      width: 88px; } }

.table-title__rub {
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .table-title__rub {
      width: 70px; } }

.table__text td {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .table__text td {
      font-size: 8px; } }

.table__text-works {
  padding-left: 33px;
  padding-right: 33px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #012b52;
  text-align: center;
  /* Tablet */ }
  @media (max-width: 1199px) {
    .table__text-works {
      display: flex;
      justify-content: center;
      align-items: center;
      /* Mobile XS */ } }
  @media (max-width: 1199px) and (max-width: 766px) {
    .table__text-works {
      height: 35px;
      display: table-cell;
      font-size: 8px; } }

  .table__text-works p {
    /* Tablet */
    /* Mobile XS */ }
    @media (max-width: 1199px) {
      .table__text-works p {
        max-width: 180px;
        text-align: center; } }
  .table__text-works--first p {
    /* Tablet */ }
    @media (max-width: 1199px) {
      .table__text-works--first p {
        max-width: 290px;
        line-height: normal; } }
  .table__text-works--borders p {
    /* Mobile XS */ }
    @media (max-width: 766px) {
      .table__text-works--borders p {
        padding-left: 30px;
        max-width: 100px;
        line-height: normal; } }

.section-questions {
  padding-top: 102px;
  padding-bottom: 80px;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .section-questions {
      padding-top: 15px;
      padding-bottom: 15px; } }

.section-questions__row {
  display: flex;
  justify-content: center;
  height: 420px;
  background: #2F2E33;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .section-questions__row {
      padding-left: 20px;
      padding-right: 20px;
      height: 181px; } }

.section-questions__content {
  padding-left: -35px;
  display: flex; }

.section-questions__content-text {
  padding-top: 50px;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .section-questions__content-text {
      padding-top: 22px; } }

    .remained-questions {
      color: #ff0000;
      margin-bottom: 0;
    }
  .section-questions__content-text h2 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: #FFFFFF;
    /* Mobile XS */ }

    @media (max-width: 766px) {
      .section-questions__content-text h2 {
        margin-bottom: 8px;
        font-size: 16px;
        line-height: normal; } }
  @media (min-width: 1200px) {
    .section-questions__content-text br {
      display: none;
    }
  }

  .section-questions__content-text p {
    font-weight: 400;
    font-size: 21px;
    color: #FFFFFF;
    margin-bottom: 57px;

    
    /* Mobile XS */ }

    @media (max-width: 1200px) {
      .section-questions__content-text p {
        /* min-width: 00px; */
        /* max-width: 400px; */
        margin-bottom: 53px;
      }
    }

    @media (max-width: 766px) {
      .section-questions__content-text p {
        
        margin-bottom: 25px;
        font-size: 8px;
        line-height: normal; } 
        
      }
  .section-questions__content-text h3 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
    /* Mobile XS */ }
    @media (max-width: 766px) {
      .section-questions__content-text h3 {
        margin-bottom: 10px;
        font-size: 11px;
        line-height: normal; } }

.section-questions__content-input {
  display: flex;
  justify-content: space-between; }

.input-row {
  display: flex;
  flex-direction: column; }

.questions__input {
  padding-left: 30px;
  margin-right: 55px;
  margin-bottom: 13px;
  height: 53px;
  background: #45444B;
  border: 1px solid #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .questions__input {
      padding-left: 14px;
      padding-right: 14px;
      margin-bottom: 6px;
      height: 22px;
      font-size: 8px; } }
  .questions__input--name {
    width: 260px;
    /* Mobile XS */ }
    @media (max-width: 766px) {
      .questions__input--name {
        width: 113px; } }
  .questions__input--phone {
    width: 358px;
    /* Tablet */
    /* Mobile XS */ }
    @media (max-width: 1199px) {
      .questions__input--phone {
        margin-right: 73px; } }
    @media (max-width: 766px) {
      .questions__input--phone {
        width: 155px;
        margin-right: 31px; } }

.questions__input:last-child {
  margin-bottom: 0; }

.questions__input::placeholder {
  color: #FFFFFF; }

.questions-button-wrapper {
  display: flex;
  align-items: end; 
} 

.questions-button {
  width: 230px;
  height: 53px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background: #D9D9D9;
  border: 2px solid #828282;
  cursor: pointer;
  transition: 0.3s;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .questions-button {
      width: 98px;
      height: 23px;
      font-size: 8px; 
    } 
  }
.questions-button:hover {
  transform: scale(1.08);
  background: rgb(233, 231, 231);
}
.section-questions__img {
  margin-top: -35px;
  width: 428.14px;
  height: 435.78px;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .section-questions__img {
      margin-top: 38px;
      margin-left: -222px;
      width: 376px;
      height: 383px; 
      margin-top: -20px;
    } }
  @media (max-width: 766px) {
    .section-questions__img {
      margin-top: -2px;
      margin-left: -110px;
      width: 146px;
      height: 149px; } }
    
.sections__contacts {
  width: 100%;
  height: 386px;
  background-image: url(../img/section-contacts/conacts-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  /* Tablet */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .sections__contacts {
      height: 473px;
      background-image: url(../img/section-contacts/conacts-bg-tablet.jpg); } }
  @media (max-width: 766px) {
    .sections__contacts {
      height: 197px;
      background-image: url("../img/section-contacts/conacts-bg-xs.jpg"); } }

.sections__contacts-contanier {
  display: flex;
  justify-content: center;
  /* Tablet */ }
  @media (max-width: 1199px) {
    .sections__contacts-contanier {
      margin-left: -38px; } }

.sections__contacts-contanier-wrapper {
  display: flex;
  align-items: center; }

.sections__contacts-contanier-title {
  margin-left: 30px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 42px;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .sections__contacts-contanier-title {
      margin-left: 19px;
      margin-bottom: 11px;
      font-size: 16px; } }

.title-border {
  margin-top: -9px;
  width: 975px;
  height: 1px;
  background-color: black;
  /* Mobile XS */
  /* Mobile XS */ }
  @media (max-width: 1199px) {
    .title-border {
      width: 463px; } }
  @media (max-width: 766px) {
    .title-border {
      width: 206px; } }

.contact-contanier-item {
  padding-left: 70px;
  margin-left: 30px;
  margin-bottom: 40px;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .contact-contanier-item {
      margin-left: 18px;
      margin-bottom: 16px;
      padding-left: 20px;
      font-size: 8px; } }

.contact-item-name {
  margin-right: 30px;
  font-size: 26px;
  font-weight: 600;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .contact-item-name {
      margin-right: 6px;
      font-size: 8px; } }

.contact-text-phone {
  margin-right: 32px;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .contact-text-phone {
      margin-right: 8px; } }

.contact-text-phone:last-child {
  margin-right: 0; }

.contact-contanier-item::before {
  display: block;
  content: "";
  width: 33px;
  height: 33px;
  position: absolute;
  top: 0;
  left: 0px;
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .contact-contanier-item::before {
      width: 14px;
      height: 14px; } }

.contact-contanier-item.phone::before {
  background-image: url("../img/section-contacts/phone-icon.svg");
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .contact-contanier-item.phone::before {
      background-image: url("../img/section-contacts/phone-icon-xs.svg"); } }

.contact-contanier-item.time::before {
  background-image: url("../img/section-contacts/time-icon.svg");
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .contact-contanier-item.time::before {
      background-image: url("../img/section-contacts/time-icon-xs.svg"); } }

.contact-contanier-item.mail::before {
  width: 38px;
  height: 38px;
  background-image: url("../img/section-contacts/mail-icon.svg");
  /* Mobile XS */ }
  @media (max-width: 766px) {
    .contact-contanier-item.mail::before {
      background-image: url("../img/section-contacts/mail-icon-xs.svg");
      width: 17px;
      height: 16px; } }

.contact-text:last-child {
  margin-bottom: 0; }

@media (max-width: 1199px) {
  .container {
    width: 767px; } }
/* Mobile XS */
@media (max-width: 766px) {
  .container {
    width: 320px; } }
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #ee8484;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #ffffff;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #2F2E33;
      color: #ee8484;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }
.owl-theme .owl-dots {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 32px;
  background-color: #E1E1E1; }
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 20px; 
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 15px;
      height: 15px;
      margin: 5px 12px;
      background: #ffffff;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #2F2E33; }
      
  @media (max-width: 766px) {
    .owl-theme .owl-dots .owl-dot span {
      width: 12px;
      height: 12px;
      margin: 4px 12px;
      background: #ffffff;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px;
    } 
    .owl-theme .owl-nav.disabled + .owl-dots {
      margin-top: 15px; 
    }

    .owl-theme .owl-dots {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 22px;
      background-color: #E1E1E1;
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(66, 114, 47, 1) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1166%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1167)'%3e%3c/rect%3e%3cpath d='M1440 0L1087.66 0L1440 233.38z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1087.66 0L1440 233.38L1440 384.81L1032.27 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1032.27 0L1440 384.81L1440 480.87L978.5699999999999 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M978.57 0L1440 480.87L1440 528.48L420.45000000000005 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L552.09 560L0 540.22z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 540.22L552.09 560L743.04 560L0 337.02000000000004z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 337.02L743.04 560L1151.6 560L0 196.96999999999997z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 196.97000000000003L1151.6 560L1151.6899999999998 560L0 100.74000000000002z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1166'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='-39.29%25' x2='15.28%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1167'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(66%2c 114%2c 47%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e") center/cover no-repeat;
  }
  
  .section__title {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .section__button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    outline: 2px solid transparent;
    outline-offset: 3px;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
  }
  
  .section__button:hover {
    background-color: #fff;
    color: #000;
  }
  
  .section__button:focus-visible {
    outline-color: yellow;
  }
  
  .modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 30px;
    overflow-y: auto;
    display: none;
  }
  
  .modal__main_1 {
    position: relative;
    max-width: 500px;
    background-color: #dee4e9;
    text-align: center;
    margin: auto;
    color: #000;
    border-radius: 16px;
    padding: 5px 50px 5px 50px;
    cursor: default;
  }
  @media (max-width: 530px) {
    .modal__main_1 {
      text-align: center;
      max-width: 400px;
      padding: 5px 20px 5px 20px;
      
    }
  }
  @media (max-width: 460px) {
    .modal__main_1 {
      text-align: center;
      max-width: 300px;
      padding: 5px 20px 5px 20px;
    }
  }

  .modal__main_2 {
    position: relative;
    max-width: 500px;
    background-color: #dee4e9;
    text-align: center;
    margin: auto;
    color: #000;
    border-radius: 16px;
    padding: 5px 50px 5px 50px;
    cursor: default;
  }

  
  .modal__title-1 {
    font-size: 55px;
    margin-bottom: 10px;
    /* top:auto; */
  }

  @media (max-width: 530px) {
    .modal__title-1 {
      font-size: 38px;
      margin-bottom: 10px;
      /* top:auto; */
    }
  }

  .modal__title {
    font-size: 55px;
    margin-bottom: 10px;
    /* top:auto; */
  }
  
  .modal__container {
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  .modal__btn {
    background-color: red;
    color: #fff;
    font-size: 26px;
    text-align: center;
    display: block;
    margin: 0 auto; 
    border-radius: 20px;
    border: none;
    padding: 15px 30px;
  }
  
  .modal__close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 10px;
    right: 10px;
    outline: 1px solid transparent;
    outline-offset: 3px;
    transition: outline-color .15s ease-in-out;
    border-radius: 3px;
    padding: 0;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
  }
  
  .modal__close:focus-visible {
    outline-color: green;
  }

.gif-img {
  width: 100%;
  height: 100%;
  display: flex;
  vertical-align: top;
  margin: -10px 0;
}
/* 490 TODO */
.pleas-contact-us {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;  
}
@media (max-width: 490px) {
  .pleas-contact-us {
    font-size: 19px;
    font-weight: 600;  
  }
}

@media (max-width: 390px) {
  .pleas-contact-us {
    font-size: 18px;
    font-weight: 500;  
  }
}

@media (max-width: 490px) {
  .we-call-you-back {
    font-size: 25px;
    font-weight: 500;  
  }
}

@media (max-width: 490px) {
  .error-sending {
    font-size: 27px;
    font-weight: 500;  
  }
}




/*# sourceMappingURL=main.css.map */